.product-price {
    color: #fb3f4c;
    font-size: 1.3em;
    padding: 5px;
}

.products-grid {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
}

.filter-inputs {
    padding: 20px;
}

.action-inputs {
    margin-left: 20px;
}

.action-inputs input {
    border: none;
    background-color: #c7c7c7;
    border-radius: 15px;
    padding: 10px;
    transition: .2s;
}

.action-inputs input:focus {
    outline: none;
    background-color: #f5f5f5;
    color: black;
}